$color-primary: #FE2C55;
$color-secondary: #25F4EE;
$font-color-primary: #ffffff;
$font-color-secondary: #454545;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;
$font-size-nav: 1.8rem;

#sobre {
    background-color: none;
    .container {
        background-color: rgba(0, 0, 0, .1);
        border-radius: .5rem;
        margin: 2rem auto;
        padding: 0 2rem 2rem;
    }

    article {
        
        p {
            font-size: $font-size-default;
            color: $font-color-primary;
        }
    }
}