$align: left;
$bg-color: #0000ff;
$color-01: #FFFFFF;
$color-02: #0000ff;
$color-03: #000000;
$color-04: #FFFFFF;
$color-default: #ff0000;
$font-big: 4rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.8rem;
$font-normal: 2rem;
$font-small: 1.5rem;
$mb: 2rem;
$mt: 2rem;
$mt-02: 4rem;
$space-default: 2rem;